.question {
  position: relative;
  padding: 5px 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  .delete {
    cursor: pointer;
    position: absolute;
    left: -3px;
    display: none;
  }

  &:hover .delete {
    display: initial;
  }
}

.answer {
  display: inline-block;
  color: #888;
  padding: 5px 30px;
  padding-top: 0px;
  padding-bottom: 10px;

  span {
    &:empty {
      &::before {
        content: 'Answer here...';
        color: #ddd;
      }
    }
  }
}
