.question {
	position: relative;
	padding: 5px 20px;

	&:not(.today) {
		background-color: #eee;
	}
}

.delete {
	cursor: pointer;
	position: absolute;
	left: 0;
	display: none;
}

.hovered {
	.delete {
		display: initial;
	}
}
